#app {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#app .container {
    width: 80vw;
    height: 80vh;
    z-index: 100;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

#app .container-view {
    padding: 20px;
}

.link {
    border: 1px solid gray;
    padding: 0.5rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.25rem;
    color: black;
    opacity: 0.5;
    border-radius: 8px;
    margin: 0.5rem;
}